{% extends "homepage/base.html" %}

{% block title %} ABC | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto mt-5">
            <table class="table" style="background-color: #ddd;">
                <tbody>
                    <tr>
                        <td colspan="2" style="background-color: #D1A917; color: #fff; text-align: center;">
                            <b style="font-size: 20px;">Elderlandzka Armia Królewska</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="background-color: #efefef; border-bottom: 1px solid #ddd; color: #000; text-align: center;">
                            Siły zbrojne Królestwa Elderlandu
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #eee; border-right: 1px solid #eee">
                            <img src="http://vignette3.wikia.nocookie.net/micropedia/images/8/86/EAK-god%C5%82o.png/revision/latest/scale-to-width-down/353?cb=20150827121949" class="img-fluid mx-auto d-block" width="125" alt="godło eak">
                        </td>
                        <td style="border-bottom: 1px solid #eee">
                            <img src="http://vignette1.wikia.nocookie.net/micropedia/images/1/1f/EAK-flaga.png/revision/latest/scale-to-width-down/640?cb=20150827121929" class="img-fluid mx-auto d-block mt-5" width="170" alt="flaga eak">
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #eee; border-right: 1px solid #eee">
                            <p class="text-center">Herb Elderlandzkiej Armii Królewskiej</p>
                        </td>
                        <td>
                            <p class="text-center">Flaga Elderlandzkiej Armii Królewskiej</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #43474B; color:white; ;border-bottom: 1px solid #eee; border-right: 1px solid #eee">
                            <p class="ml-4">Państwo</p>
                        </td>
                        <td style="border-top: 1px solid #eee;">
                            <p class="ml-4"> <img src="http://vignette4.wikia.nocookie.net/micropedia/images/b/b1/Flaga_elderland.png/revision/latest?cb=20061125130226" class="mr-3 img-fluid" width=30 alt="">Elderland</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #43474B; color:white; ;border-bottom: 1px solid #eee; border-right: 1px solid #eee">
                            <p class="ml-4">Sformowanie</p>
                        </td>
                        <td style="border-top: 1px solid #eee;">
                            <p class="ml-4">30 marca 2013</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #43474B; color:white; ;border-bottom: 1px solid #eee; border-right: 1px solid #eee">
                            <p class="ml-4">Zwierzchnik</p>
                        </td>
                        <td style="border-top: 1px solid #eee;">
                            <p class="ml-4">JKM Karolina Aleksandra</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #43474B; color:white; ;border-bottom: 1px solid #eee; border-right: 1px solid #eee">
                            <p class="ml-4">Głównodowodzący</p>
                        </td>
                        <td style="border-top: 1px solid #eee;">
                            <p class="ml-4">Majordom Wilhelm von Wolff</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #43474B; color:white; ;border-bottom: 1px solid #eee; border-right: 1px solid #eee">
                            <p class="ml-4">Rodzaje sił zbrojnych</p>
                        </td>
                        <td style="border-top: 1px solid #eee;">
                            <p class="ml-4">Królewskie Wojska Lądowe</p>
                            <p class="ml-4">Królewskie Siły Powietrzne</p>
                            <p class="ml-4">Królewska Marynarka Wojenna</p>
                            <p class="ml-4">Gwardia Królewska</p>
                            <p class="ml-4">Królewskie Siły Specjalne</p>
                            <p class="ml-4">Królewska Piechota Morska</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #43474B; color:white; ;border-bottom: 1px solid #eee; border-right: 1px solid #eee">
                            <p class="ml-4">Siedziba Sztabu</p>
                        </td>
                        <td style="border-top: 1px solid #eee;">
                            <p class="ml-4">Elder</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #43474B; color:white; ;border-bottom: 1px solid #eee; border-right: 1px solid #eee">
                            <p class="ml-4">Logo</p>
                        </td>
                        <td style="border-top: 1px solid #eee;">
                            <img src="http://vignette4.wikia.nocookie.net/micropedia/images/e/e5/Logo_EAK.png/revision/latest/scale-to-width-down/342?cb=20150827141558" width="80" class="img-fluid ml-4" alt="">
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>
{% endblock %}
