{% extends 'homepage/base.html' %}

{% block title %} Gwardia Królewska | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 mx-auto mt-5">
            <h3 class="display-4 text-center">Gwardia Królewska</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto mt-5">
            <div class="intro">
                <p class="text-center title"><b>OPIS GWARDII KRÓLEWSKIEJ</b></p>
                <p>
                    Gwardia Królewska jest częścią Królewskich Sił Operacyjnych. Gwardia Królewska nie podlega armii, tylko bezpośrednio Królowi. Stacjonuje głównie w stolicy Królestwa.
                </p>
            </div>
            <br>
            <div class="intro">
                <p class="text-center title"><b>ZADANIA GWARDII KRÓLEWSKIEJ</b></p>
                <p>
                    <li>
                        Ochrona monarchy.
                    </li>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
