{% extends 'homepage/base.html' %}

{% block title %} Królewska Obrona Terytorialna | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 mx-auto mt-5">
            <h3 class="display-4 text-center">Królewska Obrona Terytorialna</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto mt-5 mb-5">
            <div class="intro opis_KOT">
                <p class="text-center title"><b>OPIS KRÓLEWSKIEJ OBRONY TERYTORIALNEJ</b></p>
                <p>
                    Część sił zbrojnych przeznaczona do prowadzenia działań taktycznych na obszarze kraju. Jedna z dwóch składowych części sił zbrojnych Królestwa Elderlandu. Królewska Obrona Terytorialna została powołana w 2015 roku wraz z powstaniem Elderlandzkiej Armii Królewskiej.
                </p>
            </div>
            <br>
            <div class="intro zadania_KOT">
                <p class="text-center title"><b>ZADANIA KRÓLEWSKIEJ OBRONY TERYTORIALNEJ</b></p>
                <ul>
                    <li>
                        Wspieranie Sił Operacyjnych.
                    </li>
                    <li>
                        Pomoc w zwalczaniu klęsk żywiołowych.
                    </li>
                    <li>
                        Pomoc w ewakuacji ludności.
                    </li>
                    <li>
                        Walka z grupami dywersyjnymi przeciwnika.
                    </li>
                    <li>
                        Rozpoznanie, ostrzeganie i alarmowanie wojsk o grożącym niebezpieczeństwie.
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
