{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block title %}Rekrutacja | {{ block.super }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-10 mx-auto mt-5">
            <h3 class="display-4 text-center">Rekrutacja</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto mt-5">
            <div class="intro mb-5">
                <p class="text-center uzyskanie_obywatelstwa"><b>CO NALEŻY ZROBIĆ</b></p>
                <p>
                    Aby zostać członkiem Elderlandzkiej Armii Królewskiej musisz posiadać obywatelstwo Królestwa Elderlandu. <a href="http://dreamland.net.pl/forum/viewtopic.php?f=358&t=4772">Jak zdobyć obywatelstwo ?</a> Następnym krokiem jest złożeniu wnisoku o przyjęciu do sił zbrojnych. <a href="http://dreamland.net.pl/forum/viewtopic.php?f=411&t=4972">Wzór wniosku</a>. Po złożeniu wniosku i po jego pozytywnym rozpatrzeniu zostajemy skierowani do odbycia służby przygotowawczej, która trwa miesiąc. Po dwóch tygodniach służby przygotowawczej składamy przysięgę wojskową. Po zakończeniu służby przygotowawczej wybieramy rodzaj sił zbrojnych w których chcemy służyć. Do wyboru mamy:
                    <li>
                        Królewskie Wojska Lądowe
                    </li>
                    <li>
                        Królewskie Siły Powietrzne
                    </li>
                    <li>
                        Królewsą Marynarke Wojenną
                    </li>
                    <li>
                        Królewskie Siły Specjalne
                    </li>
                    <li>
                        Gwardie Królewską
                    </li>
                    <li>
                        Królewską Piechote Morską
                    </li>
                    <br>
                    Zgodnie z <a
                        href="http://dreamland.net.pl/forum/viewtopic.php?f=501&t=8075&p=51367#p51367">dekretem
                        o służbie wojskowej</a> mamy do wyboru trzy możliwości:
                    przejście do rezerwy, służbę w jednostkach wojskowych oraz służbę w administracji wojskowej, która dzieli się na administację terenową oraz administrację centralną.
                </p>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
