{% extends 'homepage/base.html' %}

{% block title %} Królewskie Siły Operacyjne | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 mx-auto mt-5">
            <h3 class="display-4 text-center">Królewskie Siły Operacyjne</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto mt-5 mb-5">
            <div class="intro sily-operacyjne">
                <p class="text-center title"><b>OPIS KRÓLEWSKICH SIŁ OPERACYJNYCH</b></p>
                <p>
                    Królewskie Siły Operacyjne są podstawowym trzonem Sił Zbrojnych Królestwa Elderlandu. W ich skład wchodzą:
                    <li>
                        Królewskie Wojska Lądowe
                    </li>
                    <li>
                        Królewskie Siły Powietrzne
                    </li>
                    <li>
                        Królewska Marynarka Wojenna
                    </li>
                    <li>
                        Królewskie Siły Specjalne
                    </li>
                    <li>
                        Gwardia Królewska
                    </li>
                    <li>
                        Królewska Piechota Morska
                    </li>
                </p>
            </div>
            <br>
            <div class="intro sily-operacyjne">
                <p class="text-center title"><b>ZADANIA KRÓLEWSKICH SIŁ OPERACYJNYCH</b></p>
                <p>
                    <li>
                        Odstraszenie przciwnika od agresji.
                    </li>
                    <li>
                        W razie konieczności prowadzenie walki zbrojnej.
                    </li>
                    <li>
                        Czuwanie nad niepodległością Królestwa.
                    </li>
                    <li>
                        Utrzymanie ładu społecznego.
                    </li>
                    <li>
                        Pomoc humanitarna.
                    </li>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
