{% extends 'homepage/base.html' %}

{% block title %} Zakon Rycerzy Króla Edwarda | {{ block.super }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12 mx-auto mt-5">
            <h3 class="display-4 text-center">Zakon Rycerzy Króla Edwarda</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto mt-5 mb-5">
            <div class="intro zakon-opis">
                <p class="text-center title"><b>OPIS ZAKONU RYCERZY KRÓLA EDWARDA</b></p>
                <p>
                    Zakon Rycerzy Króla Edawrda został założony 3 grudnia 2016 roku przez Daniela von Witta. Zakon nosi nazwę na cześć Króla Królestwa Dreamlandu Edwarda II, który panował od 2 grudnia 2015 do 14 marca 2017 roku. <a href="http://dreamland.net.pl/forum/viewforum.php?f=469">Strona na forum</a>
                </p>
                <br>
                <p class="text-center title"><b>AKTUALNY SKŁAD KAPITUŁY ZAKONU</b></p>
                <p>
                    <li>
                        <i>st. gw. Fryderyk Orański-Nassau</i>
                    </li>
                    <li>
                        <i>chor. pchor. Markocjusz van Koller</i>
                    </li>
                    <li>
                        <i>kmdr ppor. Daniel von Witt</i>
                    </li>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
